<nav class="navbar p-4">
  <div class="bhead col-1">
    <h2 class="heading">Snap</h2>
  </div>
  <div class="nav-start col-9">
    <button mat-button [matMenuTriggerFor]="features">
      <div class="valign-center">
        <span>Features</span>
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </button>
    <button mat-button [matMenuTriggerFor]="company">
      <div class="valign-center">
        <span>Company</span>
        <i class="material-icons">arrow_drop_down</i>
      </div>
    </button> 
    <button mat-button>Career</button>
    <button mat-button>About</button>

    <mat-menu #company="matMenu">
      <button mat-menu-item>Todo List</button>
      <button mat-menu-item>Calender</button>
      <button mat-menu-item>Reminders</button>
      <button mat-menu-item>Planning</button>
    </mat-menu>
    <mat-menu #features="matMenu">
      <button mat-menu-item>History</button>
      <button mat-menu-item>Our Team</button>
      <button mat-menu-item>Blog</button>
    </mat-menu>
  </div>
  <div class="right-menu col-2 px-4">
    <button class="btn btn-defaut">Login</button>
    <button class="btn btn-defaut">Register</button>
  </div>
</nav>