<div class="header p-2">
    <div class="nav py-1">
        <div class="logo p-3">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="nav-items">
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Service</a>
            <a href="">Shop</a>
            <a href="">Pages</a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-solid fa-user"></i></a>
            <div class="btn">
                <button class="btn btn-primary">+92483647334</button>
            </div>
        </div>
      
    </div>
</div>
<app-home></app-home>
<app-footer></app-footer>