<app-header></app-header>

<div class="bcont d-flex">
    <div class="content col-2 mx-2">
        
        <h1>Make Remote Work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ex nemo hic quis. Similique accusamus, eligendi
            nobis ducimus odio dolorem dignissimos itaque dolore ex. Earum molestias facilis et blanditiis quasi!</p>
        <div class="butn my-5">
            <button class="btn btn-secondary">Learn More</button>
        </div>
    </div>
    <div class="content2 col-2 m-2 p-5" >
        <div class="img"></div>
    </div>
</div>