<div class="grid">
    <div id="side-div">
        <ol class="custom-counter">
            <li class="multiline-item">Step 1 <br>YOUR INFO</li>
            <li class="multiline-item">Step 2 <br>SELECT PLANS</li>
            <li class="multiline-item">Step 3 <br>ADD-ONS</li>
            <li class="multiline-item">Step 4 <br>SUMMARY</li>
        </ol>
    </div>
    <div class="inform">
        <h1>Personal Info</h1>
        <p>Please provide your name email address and phone number.</p>
        <form action="">
            <div class="form form-controll">
                <div class="form-controll">
                    <label for=""> Name </label>
                    <input type="text" name=" Name" placeholder="e.g Stephen King">

                </div>
                <div class="form-controll">
                    <label for=""> Email </label>
                    <input type="email" name=" Email" placeholder="e.g stephenking@lorem.com">

                </div>
                <div class="form-controll">
                    <label for=""> Phone Number </label>
                    <input type="phonenumber" name=" Phone Number" placeholder="e.g +1 234 567 890">

                </div>
            </div>
            <div class="bttn">
                <a href="#" class="btn btn-primary">Next Step</a>
            </div>
        </form>
    </div>
</div>