<div class="cont">
    <div class="img">
        <div class="body col-6 p-5">
            <h1 class="header p-4">We secure your eyes with quality glasses</h1>
            <h3 class="header px-4">Imperdiet praesent metus magnis netus arcu ultrices curabitur convallis mattis litora dolor.</h3>
            <div class="bttn d-flex my-4">
                <button class="buttn text-white" style="background-color: #0084D6;">Shop Now !</button>
                <button class="buttn">ASK OPTOMETRIST!</button>
            </div>
        </div>
    </div>
</div>